//ALL
.for_mob{
    display: none;
}
body{
    letter-spacing: 1px;
    background: #000000;
}
.carousel .carousel-control-next-icon {
    opacity: 1 !important;
    background-image: url("../img/next.svg");
    
}
.carousel .carousel-control-prev-icon {
    opacity: 1 !important;
    background-image: url("../img/back.svg");
    
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #EC000E;
}
//---------------------------------------------------------------------------------

//Language-------------------------------------------------------------------------
.en{
    display: block;
}
.ru{
    display: none;
}
//---------------------------------------------------------------------------------



//HEADER----------------------------------------------------------------------------
.navbar{
    letter-spacing: 1px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    background: rgb(41, 41, 41) !important;
}
.first_nav{
    margin-left: 20%;
}
.active_m{
    border-bottom: 2px solid white;
}
.no_active_m{
    padding-left: 0px !important;
    padding-right: 0px !important;
    pointer-events: none;
}
.no_bor:hover{
    border-bottom:none;
}
.lang{
    margin-left: 20px;
}
.a_m {
    display: inline-block;
    color:white;
    line-height: 2;
    text-decoration:none;
    cursor: pointer;
}
.a_m:after {
    color: red !important;
    background-color: white;;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.a_m:hover:after,
.a_m:focus:after {
    color: red !important;
    width: 100%;
}
.lang_active_m{
    color: red;
}
//---------------------------------------------------------------------------------------


//MAIN---------------------------------------------------------------------------------------

//block_header
main{
    background: #000000;
}
.schedule{
    height: 100vh;
    background: url("../img/Block1_header.png") center no-repeat;
    background-size: 100% 100%;
}
.forms{
    
    margin-top: 100px;
    height: 437px;
}
.sinlog{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.forn_singUp{
    display: block;
}
.forn_LogIn{
    display: none;
}
.forn_singUp_ru{
    display: block;
}
.forn_LogIn_ru{
    display: none;
}
::placeholder {
    color: rgb(206, 204, 204) !important;
}
input:focus{
    background: #000000 !important;
    color: white !important;
}
.forms form{
    
background: rgba(99, 99, 99, 0.51);
border-radius: 12px;
}
.forms input{
    color: white;
    background: transparent;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;

}
.main_text{
    position: absolute;
    bottom: 0;
    right: 20px;
    margin-bottom: 10vh;
    text-align: right;
}
h1{
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 95px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;   
}

h2{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 44px;
    /* identical to box height */
    color: #FFFFFF;
}
h3{
    margin-top: 86px;
    margin-bottom: 73px;
    text-align: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #FFFFFF;    
}
h4{
    margin-top: 50px;
    margin-bottom: 33px;
    text-align: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}
.p_rew{
    margin: 0 auto;
    width: 70%;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;
}
//-----------------------------------------------------------------------------
//Block (ADVANTAGES)-----------------------------------------------------------
.col_pr{
    width: 300px;
    margin: 1rem;
    
  }
  
  .container_pr{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
      -webkit-perspective: 1000px;
              perspective: 1000px;
  }
  
  .front,
  .back{
    
    background-size: cover;
      background-position: center;
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      text-align: center;
      min-height: 280px;
      height: auto;
      
      
      font-size: 1.5rem;
  }
  
  .back{
      border-radius: 10px;
      border: 1px solid rgb(0, 0, 0);
      background: rgb(0, 0, 0);  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
    color: white;
  }
  
  .front:after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      
  }
  .container_pr:hover .front,
  .container_pr:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  .inner{

      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  
  .container_pr .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container_pr .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container_pr:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .container_pr:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .front .inner p{
      margin-top: 10px;
    font-size: 17px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    
    line-height: 24px;
    /* identical to box height */
    
    color: #FFFFFF;
    position: relative;
  }
  
  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  
  .front .inner span{
    color: white;
    font-size: 17px;
    font-family: Rubik;
    font-weight: 300;
  }

//-----------------------------------------------------------------------------
//Offers
.keto{
    
    position: relative;
    left: -20px;
    height: 250px;
    background:linear-gradient(90deg, #250D00 0%, rgba(122, 1, 141, 0.86) 0%, rgba(255,255,255,0) 100%),url("../img/offer_1.png") right 150% bottom 53% no-repeat,#000;
    border-radius: 13px;
}
.cbd{
    
    height: 250px;
    background: linear-gradient(90deg, #250D00 0%, rgba(1, 141, 32, 0.86) 0%, rgba(255, 255, 255, 0) 100%), url("../img/offer_2.png") right -60% bottom 53% no-repeat, #000000;
    border-radius: 13px;
}
.male{
    top: 20px;
    position: relative;
    left: -20px;
    height: 250px;
    background: linear-gradient(90deg, #250000 0%, rgba(141,1,1,0.86) 0%, rgba(255,255,255,0) 100%),url("../img/offer_3.png") right -12% bottom 48% no-repeat,#000;
    border-radius: 13px;
}
.tobe{
    top: 20px;
    height: 250px;
    background: linear-gradient(90deg, #434343 0%, rgba(135, 135, 135, 0.86) 0%, rgba(255, 255, 255, 0) 100%), url("../img/offer_4.png") right -20% bottom 53% no-repeat, #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 13px;
}
.keto,.cbd,.male,.tobe{
    margin: 0px;
}
h6{
    margin-top: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
}
.offe_p{
    width: 290px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
//-----------------------------------------------------------------------------
//Block reviews----------------------------------------------------------------
.rew_it{
    height: 400px;
}
.photo_client{
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border: 1px solid #EC000E;
    box-sizing: border-box;
    border-radius: 150px;
}
//-----------------------------------------------------------------------------
//Block FAQ----------------------------------------------------------------
.sly {
    display:none; 
    color:white;
    height:auto;
    margin:5px 0;
    padding:10px;
    text-align: justify;
  }
  
  .show {
    cursor:pointer;
    color: #4C6695;
    margin:1px 0 0;
    
  }

  .show:hover{color:green;}
  .active {color:green;}
  h5{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;    
  }
  .p_faq{
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    
    color: #FFFFFF;
  }
//--------------------------------------------------------------------------------
//FOOTER--------------------------------------------------------------------------
footer{
    background:  rgb(41, 41, 41) ;
    margin-top: 100px;
    
}
footer a{
    
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    text-transform: capitalize;
    color: #FFFFFF;
}
li{
    list-style: none;
}
footer a:hover{
    color: red;
}
footer .col-12{
    text-align: left;
}
//--------------------------------------------------------------------------------

@media screen and (max-width: 1920px) {

}
@media screen and (max-width: 1680px) {

}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1366px) {

}
@media screen and (max-width: 1280px) {

}
@media screen and (max-width: 1025px) {
    .schedule{
  
        background-size: cover;
    }
    .tobe {
        top: 20px;
        height: 250px;
        background: -webkit-gradient(linear, left top, right top, from(#434343), color-stop(0%, rgba(135,135,135,0.86)), to(rgba(255,255,255,0))),url(../img/offer_4.png) right -20% bottom 53% no-repeat,#000;
        background: linear-gradient(90deg, #434343 0%, rgba(135,135,135,0.86) 0%, rgba(255,255,255,0) 100%),url(../img/offer_4.png) right -49% bottom -33% no-repeat,#000;
        border: 1px solid #000000;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 13px;
    }
    .cbd {
        height: 250px;
        background: -webkit-gradient(linear, left top, right top, from(#250D00), color-stop(0%, rgba(1,141,32,0.86)), to(rgba(255,255,255,0))),url(../img/offer_2.png) right -50% bottom 53% no-repeat,#000;
        background: linear-gradient(90deg, #250D00 0%, rgba(1,141,32,0.86) 0%, rgba(255,255,255,0) 100%),url(../img/offer_2.png) right -119% bottom 53% no-repeat,#000;
        border-radius: 13px;
    }
    .keto {
        position: relative;
        left: -20px;
        height: 250px;
        background: -webkit-gradient(linear, left top, right top, from(#250D00), color-stop(0%, rgba(122,1,141,0.86)), to(rgba(255,255,255,0))),url(../img/offer_1.png) right 150% bottom 53% no-repeat,#000;
        background: linear-gradient(90deg, #250D00 0%, rgba(122,1,141,0.86) 0%, rgba(255,255,255,0) 100%),url(../img/offer_1.png) right 135% bottom 53% no-repeat,#000;
        border-radius: 13px;
    }
    .male {
        top: 20px;
        position: relative;
        left: -20px;
        height: 250px;
        background: -webkit-gradient(linear, left top, right top, from(#250000), color-stop(0%, rgba(141,1,1,0.86)), to(rgba(255,255,255,0))),url(../img/offer_3.png) right -12% bottom 48% no-repeat,#000;
        background: linear-gradient(90deg, #250000 0%, rgba(141,1,1,0.86) 0%, rgba(255,255,255,0) 100%),url(../img/offer_3.png) right -17% bottom 266% no-repeat,#000;
        border-radius: 13px;
    }
    .col_pr {
        width: 300px;
        margin: 1rem 0px 0 -7px !important;
    }
    .for_mob{
        display: block;
    }
    .first_nav{
        margin-left: 5%;
    }
    h1{
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 60px;
        line-height: 85px;
        /* identical to box height */
        text-transform: uppercase;
        color: #FFFFFF;    
    }
    h2{
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 34px;
        /* identical to box height */
        color: #FFFFFF;
    }
    .main_text{
        margin-top: 30vh;
    }
}
@media screen and (max-width: 800px) {
    .schedule{
        background-size: cover;
    }
    .main_text{
        margin-top: 20vh;
    }
    h1{
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 50px;
        line-height: 85px;
        /* identical to box height */
        text-transform: uppercase;
        color: #FFFFFF;    
    }
    h2{
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 24px;
        /* identical to box height */
        color: #FFFFFF;
    }
}
@media screen and (max-width: 800px) {


    .first_nav {
        margin-left: 0%;
        display: flex;
    }
    .col_pr {
        width: 300px;
        margin:auto !important;
    }
    .carousel-indicators {
        bottom: -55px;
    }
.keto{
    
        position: relative;
        left: 0px;
        height: 250px;
        background:linear-gradient(90deg, #250D00 0%, rgba(122, 1, 141, 0.86) 0%, rgba(255,255,255,0) 100%),#000;
        border-radius: 13px;
    }
    .cbd{
        
        height: 250px;
        background: linear-gradient(90deg, #250D00 0%, rgba(1, 141, 32, 0.86) 0%, rgba(255, 255, 255, 0) 100%), #000000;
        border-radius: 13px;
    }
    .male{
        top: 0px;
        position: relative;
        left: 0px;
        height: 250px;
        background: linear-gradient(90deg, #250000 0%, rgba(141,1,1,0.86) 0%, rgba(255,255,255,0) 100%),#000;
        border-radius: 13px;
    }
    .tobe{
        top: 0px;
        height: 250px;
        background: linear-gradient(90deg, #434343 0%, rgba(135, 135, 135, 0.86) 0%, rgba(255, 255, 255, 0) 100%), #000000;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 13px;
    }
}
@media screen and (max-width: 480px) {
    .forms{
        margin-top: 13vh;
        height: 340px;
    }
    .main_text {
        position: initial;
        right: 0;
        margin-top: 5em;
        margin-bottom: 20px;
    }
    .rew_it{
        height: 450px;
    }
    .lan{
        justify-content: space-evenly;
    }
    .reg{
        justify-content: space-around;
    }
    .first_nav {
        margin-left: 0%;
    }
    .keto{
    
        position: relative;
        left: 0px;
        height: 250px;
        background:linear-gradient(90deg, #250D00 0%, rgba(122, 1, 141, 0.86) 0%, rgba(255,255,255,0) 100%),#000;
        border-radius: 13px;
    }
    .cbd{
        
        height: 250px;
        background: linear-gradient(90deg, #250D00 0%, rgba(1, 141, 32, 0.86) 0%, rgba(255, 255, 255, 0) 100%), #000000;
        border-radius: 13px;
    }
    .male{
        top: 0px;
        position: relative;
        left: 0px;
        height: 250px;
        background: linear-gradient(90deg, #250000 0%, rgba(141,1,1,0.86) 0%, rgba(255,255,255,0) 100%),#000;
        border-radius: 13px;
    }
    .tobe{
        top: 0px;
        height: 250px;
        background: linear-gradient(90deg, #434343 0%, rgba(135, 135, 135, 0.86) 0%, rgba(255, 255, 255, 0) 100%), #000000;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 13px;
    }
    .schedule {
        height: auto;
        background: url(../img/Block1_header.png) center no-repeat;
        background-size: cover;
    }
    h2 {
        text-align: center;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 24px;
        color: #FFFFFF;
    }
    h1 {
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 40px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
    }
}
@media screen and (max-width: 320px){
    .schedule {
        height: 100vh;
    }
    .main_text {
        right: 0;
        margin-top: 100px;
        display: none;
    }
    .forms{
        margin-top: 18vh;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {


    .schedule {
        height: auto;
    }
    .main_text {
        display: none;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    .schedule {
        height: auto;
    }
    .main_text {
        display: none;
    }
}
/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .schedule {
        height: auto;
    }
    .main_text {
        display: none;
    }
}

